@model PlataformaAvaliacao.Models.Disciplina
@{
    var isEdit = ViewData["Title"]?.ToString() == "Edit";
    ViewData["Title"] = isEdit ? "Create" : "Edit";
}
@if (isEdit) {
    <h1>Editar Disciplina</h1>
}
else {
    <h1>Nova Disciplina</h1>
}
<hr />
<div class="card bg-metal border-light shadow-sm">
    <div class="card-body">
        <form asp-action="@ViewData["Title"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (isEdit) {
                <input type="hidden" asp-for="Id" />
            }
            <div class="mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Codigo" class="form-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary rounded-pill">Criar</button>
            <a asp-controller="Disciplina" asp-action="Index" class="btn btn-outline-light rounded-pill">Voltar</a>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}