@model PlataformaAvaliacao.Models.Disciplina
@{
    ViewData["Title"] = "Delete";
}

<h1>Excluír Disciplina</h1>

<hr />
<div class="card bg-metal border-secondary shadow-sm">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nome)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Codigo)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Codigo)</dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger rounded-pill">Confirmar Exclusão</button>
            <a asp-action="Index" class="btn btn-outline-light rounded-pill">Cancelar</a>
        </form>
    </div>
</div>