@model PlataformaAvaliacao.Models.Avaliacao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Avaliacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MatriculaId" class="control-label"></label>
                <input asp-for="MatriculaId" class="form-control" />
                <span asp-validation-for="MatriculaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Recomendarai" /> @Html.DisplayNameFor(model => model.Recomendarai)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DataAvaliacao" class="control-label"></label>
                <input asp-for="DataAvaliacao" class="form-control" />
                <span asp-validation-for="DataAvaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
