@model PlataformaAvaliacao.Models.DisciplinaOfertada
@{
    var isEdit = ViewData["Title"]?.ToString() == "Create";
    ViewData["Title"] = isEdit ? "Create" : "Edit";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="card bg-metal border-light shadow-sm">
    <div class="card-body">
        <form asp-action="@ViewData["Title"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (isEdit) {
                <input type="hidden" asp-for="Id" />
            }
            <div class="mb-3">
                <label asp-for="DisciplinaId" class="form-label">Id da Disciplina</label>
                <input asp-for="DisciplinaId" class="form-control" />
                <span asp-validation-for="DisciplinaId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ProfessorId" class="form-label">Id do Professor</label>
                <input asp-for="ProfessorId" class="form-control" />
                <span asp-validation-for="ProfessorId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Ano" class="form-label">Ano</label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Semestre" class="form-label">Semestre</label>
                <input asp-for="Semestre" class="form-control" />
                <span asp-validation-for="Semestre" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary rounded-pill">Criar</button>
            <a asp-controller="Disciplina" asp-action="Index" class="btn btn-outline-light rounded-pill">Voltar</a>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}